@import 'tailwindcss';

@theme {
  --color-primary-text: #000000;
  --color-primary-bg: #efffdf;
  --color-call-bg: #007E6E;
  --color-secondary-bg: #ffdd00;
  --color-active-nav: #007e6e;
  --color-btn-bg: #ffdd00;
  --color-contact-border: #747474;
  --color-btn-hover-bg: #ffdd00;
}
@theme {
  --breakpoint-desktop: 1400px;
}

@theme inline {
  --font-sen: var(--font-sen);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@layer base {
  .wraper {
    @apply max-w-[1440px] mx-auto;
  }
  button {
    @apply cursor-pointer;
  }
}

body {
  @apply p-0 m-0;
}
